
.pageDepoimentos{
    display: flex;
    justify-content: center;
    flex: 1;
    align-items: flex-start;
}

.textSofia{
    width: 70vw;
    margin: 0 5vw 0;
    text-align: justify;
}

.divImagemSofia{
    width: 30vw;
    display: flex;
    align-items: center;
    margin-right: 5vw;
    justify-content: center;
    margin-bottom: 10px;
    flex-direction: column;
    margin: 60px 5vw 10px 0;
}


#fotoSofia{
    height: 420px;
}

@media screen and (max-width: 1250px) {
    .pageDepoimentos {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex: 1;
    }

    .divImagemSofia{
        display: flex;
        align-items: center;
        margin-right: 0;
        width: 70vw;
    }

}