* {
    margin: 0;
    padding: 0;
  }
  
  :root{
    /*Setings Menu of navegation*/
        /*fontes*/
  
        /*Colors*/
        --bg-primary: #CD4999;
        --fc-primary: black;
        --fc-hover: white;
        --fc-title: #C4C2E0;
        --fc-rett: #784EAF;
  
  
  
        /*fontes*/
        --ff-nav-rett: 'Mulish', sans-serif;
        --ff-heading: 'Epilogue', sans-serif;
        --ff-sindromeDe: 'Mulish', sans-serif;
        --ff-title: 'Paytone One';
        --ff-phrase: 'Open Sans';
        --ff-text2: 'Poppins';
  
    /**/
    font-size: 62.5%; /* 10px */
    --fs-nav: clamp(0.5rem, 2vw, 1.8rem);
  
  
    /*line height*/
    --lh-nav: clamp(1.2rem, 3vw, 2.5rem);
  
    /*height*/
    --height-logo: clamp(.3rem, 4.5vw, 4.2rem);
  
    /*margim top phrase principal*/
    --mt-phrase: clamp(1rem, 1rem + 7vw ,12rem);
  }
  
  /*-----------------------MENU------------------------*/
  .menuNav{
    background: var(--bg-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
  }
  
  .logo{
    position: relative;
    height: var(--height-logo);
    left: 5vw;
    top: 1px;
  }
  
  .menu {
    display: flex;
    gap: 2.0rem;
    justify-content: center;
    padding: 1.5rem;
    width: 100vw;
  }
  
  .menu-item {
    display: flex;
    text-align: center;
    height: 100%;
  }
  
  a {
    text-decoration: none;
    font-family: var(--ff-nav-rett);
    font-style: normal;
    font-weight: 400;
    font-size: var(--fs-nav);
    line-height: var(--lh-nav);
    transition: transform .3s;
  
    color: var(--fc-primary);
  }
  
  #rett{
    color: white;
  }
  
  .navegation{
    text-decoration: none;
    font-family: var(--ff-nav-rett);
    font-style: normal;
    font-weight: 400;
    font-size: clamp(.9rem, 2vw, 2.2rem);
    line-height: clamp(1.2rem, 10vw, 3.5rem);
    background: #784EAF;
    position: relative;
    padding-left: 5vw;
    color: white;
  }
  
  
  .menu-item:hover a {
    font-weight: 500;
    transform: scale(1.1);
    color: var(--fc-hover);
  }
  /*-----------------------------------------------*/
  
  
  /*-------------------MAIN-------------------------*/
  main{
    height: 100vh;
    margin: 5vw;
  }

  .text{
    display: flex;
    flex-direction: column;
  }

h1{
    font-weight: 700;
    font-size: 28px;
    line-height: 35px;

    padding-bottom: 35px;
  }

h2, h3, h4, h5, h6, h7, h8{
    font-family: 'Mulish';
    font-style: normal;
    color: #000000;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    text-align: justify;
    margin-bottom: 35px;
  }