* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  /*Setings Menu of navegation*/
      /*fontes*/

      /*Colors*/
      --bg-primary: #CD4999;
      --fc-primary: black;
      --fc-hover: white;
      --fc-title: #C4C2E0;
      --fc-rett: #784EAF;



      /*fontes*/
      --ff-nav-rett: 'Mulish', sans-serif;
      --ff-heading: 'Epilogue', sans-serif;
      --ff-sindromeDe: 'Mulish', sans-serif;
      --ff-title: 'Paytone One';
      --ff-phrase: 'Open Sans';
      --ff-text2: 'Poppins';

  /**/
  font-size: 62.5%; /* 10px */
  --fs-nav: clamp(0.5rem, 2vw, 1.8rem);


  /*line height*/
  --lh-nav: clamp(1.2rem, 3vw, 2.5rem);

  /*height*/
  --height-logo: clamp(.3rem, 4.5vw, 4.2rem);

  /*margim top phrase principal*/
  --mt-phrase: clamp(1rem, 1rem + 7vw ,12rem);
}
/*----------------------SUB MENU-----------------*/
.hide:not(.show){
  display: none;
}

.show{
  display: flex;
  height: 40px;
}



#navegationSobreRett h1, #navegationSobreRett, #btnVoltar, #subNavegation{
  margin: 0;
  padding: 0;
  align-items: center;

  background: #A892C5;
  font-family: 'Mulish';
  font-style: normal;
  color: #000000;

  font-size: clamp(1.4rem, 2vw, 1.8rem);
}

#btnVoltar{
  width: 5vw;
  font-size: 20px;
  font-weight: bold;

  align-items: center;
  justify-content: center;
  background: none;
  border: none;

  color: white;

  transition: transform .3s;

}

#btnVoltar:hover {
  cursor: pointer;
  font-weight: 500;
  transform: scale(1.5);
}

#navegationSobreRett{
  position: relative;

}

#navegationSobreRett #navegationPrincipal{
  display: flex;
  position: absolute;
  left: 5vw;
  margin-right: 10px;
}



#subNavegation{
  justify-content: start;
  width: 50vw;
  margin-left: 10px;
}
/*----------------------------------------*/

h1{
  margin: 1vw 0 1vw;
}

.titlePagesSobreRett {
  font-family: 'Mulish';
  font-size: 24px;
  line-height: 25px;
  color: #000000;
  margin: 3vw 5vw 1vw;

}

.pagesSobreRett{
font-family: 'Mulish';
font-style: normal;
color: #000000;

font-weight: 300;
font-size: 20px;
line-height: 23px;
text-align: justify;
margin: 0 5vw 0;
margin-bottom: 15px;
}

.pagesSobreRett ul{
margin: 10px 0 0 2vw;
}

/*-------------------MAIN-------------------------*/

.screen1-sr{
  position: relative;
  height: 90vh;
}

.main-sr{
  background: white;
  display: flex;
   align-items: center;
  justify-content: center;
  height: 100%;
}
.screen2-sr, .screen3-sr {
    background: white;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
  }

.containerText-sr{
  position: relative;
  max-width: 50%;
  margin: 0 0  0 5vw;
}

.titlecontainerText-sr{
  display: flex;
  align-items: start;
}

.containerText-sr h1, h2, h3{
  font-family: 'Mulish';
  font-style: normal;
  color: #000000;
}

.containerText-sr h1{
  font-weight: 700;
  font-size: clamp(12px, 12px + 2vw ,26px);
  line-height: 22px;
  width: 100%;
  left: 0;
  margin-bottom: 15px;
}

.containerText-sr h2, h3{
  font-weight: 300;
  font-size: clamp(10px, 10px + 1vw ,20px);
  line-height: 23px;
  text-align: justify;
  margin-bottom: 15px;
}

#btnOqueRett, #btnDiagnostico, #btnManifestacoes{
  width: 180px;
  font-weight: 500;
  font-size: 18px;
  line-height: 35px;
  border-radius: 5px;

  border: none;

  align-items: center;
  text-align: center;

  background: #A892C5;

  cursor: pointer;
  transition: 0.3s;

}

#btnOqueRett:hover, #btnDiagnostico:hover, #btnManifestacoes:hover{
  transform: scale(1.1);
}

/*----------------*/
.containerImagem-sr{
flex: 1;
display: flex;
justify-content: center;
align-items: center;
height: 100%;

}

.img-sr{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
}


.oque-e-rett-sr, .diagnostico-sr, .rettmenina-sr{

  position: absolute;
  width: 400PX;
  border-radius: 10px;

}

/*-------SCREEN2--------*/

.screen2-sr, .screen3-sr{
  height: 100vh;
}

.containerImagem2-sr{
  width: 40%;
}

.containerText2-sr{
  flex: 1;
  margin-right: 75px;
}

/*----------RESPONSIVIDADE-----------*/
@media screen and (max-height: 600px) {

  .screen1-sr, .screen2-sr, .screen3-sr{
    height: 600px;
    
  };
}

@media (min-width: 200px) and (max-width: 1100px) {

  .screen1-sr, .main-sr, .screen2-sr, .screen3-sr{
    margin-top: 35px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
  };
  
  .main-sr{
    width: 100%;
  }
  .containerText-sr{
    max-width: 90%;
    width: 100%;
    margin: 0 5vw 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .screen2-sr{
    display: flex;
    flex-direction: column-reverse;
  }
}